@use "@styles/mixins" as *;

.about {
  @include flex(center, center);
  flex-direction    : row-reverse;
  gap               : 40px;
  grid-column       : 2;

  .text {
    @include flex(center, start, true);
    width           : 50%;

    h2 {
      color         : var(--hc-primary-400);
    }
  }
}

.swiper {
  width             : 35%;

  .swiperImage {
    position          : relative;
    width: 100%;
    aspect-ratio    : 2 / 3;
    max-width         : 600px;
    
    img {
      object-fit      : contain;
      border-radius   : 8px;
      box-shadow      : 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 768px) {
  .about .text {
    align-items     : center;
  }
}

@media (max-width: 650px) {
  .about {
    flex-direction  : column;
    text-align      : center;

    .text {
      width         : 100%;
    }

    .swiper {
      width         : 100%;
    }
  }
}