@use "@styles/mixins" as *;

.about {
  @include flex(center, center);
  flex-direction    : row-reverse;
  gap               : 40px;
  grid-column       : 2;

  .text {
    @include flex(center, start, true);
    width           : 50%;

    h2 {
      color         : var(--hc-primary-400);
    }
  }

  .detach {
    display: flex;
    flex-direction: column;
    gap: 18px;

    svg {
      color: var(--hc-primary-400);
    }

    p {
      font-size: 16px;
      font-weight: 400;
      margin-top: 8px;
    }

    h4 {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .image {
    position          : relative;
    width: 50%;
    height: 100%;
    aspect-ratio      : 16 / 9;
    // max-width         : 600px;
    border-radius     : 8px;
    
    img {
      object-fit      : cover;
      border-radius   : 8px;
      box-shadow      : 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 768px) {
  .about .text {
    align-items     : center;
  }
}

@media (max-width: 650px) {
  .about {
    flex-direction  : column;
    text-align      : center;

    .text {
      width         : 100%;
    }

    .swiper {
      width         : 100%;
    }
  }
}