@use "@styles/mixins.scss" as *;


.container {
  :root {
    --swiper-navigation-sides-offset    : -80px;
    --swiper-navigation-size            : 24px !important;
  }
  
  background                          : var(--hc-primary-500);
  background-size                     : contain;
  min-height                          : 100vh;
  padding: 65px 0px 0px;
  align-items: center;
}

.swiper {
  position                            : relative;
  grid-column                         : 2;
  display                             : flex;
  gap                                 : 40px;

  .containSlide {
    @include flex(center, center, false, 20px);
  }

  .containInfo {
    @include flex(center, start, true, 40px);
    width                             : 55%;
  }

  h2 {
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  h1, h2, p {
    color                             : var(--hc-text-light);

    span {
      font-size                       : 20px;
      font-weight                     : 500;
      display                         : block;
      color                           : var(--hc-text-light);
    }
  }

  .swiperImage {
    position                          : relative;
    width                             : 100%;
    aspect-ratio                      : 2 / 3;
    max-width                         : 420px;
    border-radius                     : 8px;
    
    img {
      object-fit                      : cover;
      border-radius                   : 8px;
      box-shadow                      : 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 900px) {
  .mainBanner {
    .text {
      width                           : 40%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    background-size                   : 250px;
    background-position               : center bottom;
  }

  .mainBanner {
    .text {
      align-items                     : center;
      justify-content                 : start;
      width                           : 100%;
      gap                             : 20px;
    }
  }
}

@media (max-width: 360px) {
  .container {
    background-size                   : 250px;
  }
}

@media (max-width: 370px) {
  .container {
    background-image                  : none;
  }

  .mainBanner {
    .text {
      justify-content                 : space-evenly;
    }
  }
}