.hc-button-primary {
  background-color    : var(--hc-primary-500);

  &:hover {
    background-color  : var(--hc-primary-400);
  }
}

.hc-button-secondary {
  background-color    : var(--hc-secondary-500);

  &:hover {
    background-color  : var(--hc-secondary-400);
  }
}

.hc-button-primary-shallow {
  border              : 1px solid var(--hc-primary-400);
  background-color    : transparent;

  &:hover {
    background-color  : var(--hc-primary-400);
  }
}