@mixin typography($weight, $size, $color, $lineHeight: null) {
  font-family       : var(--cds-font-family), sans-serif;
  font-size         : $size;
  line-height       : $lineHeight;
  font-weight       : $weight;
  color             : $color;
}

@mixin flex($justify, $align: center, $column: false, $gap: 20px) {
  display           : flex;
  align-items       : $align;
  justify-content   : $justify;
  flex-direction    : if($column, column, null);
  gap               : $gap;
}
