:root {
  --hc-primary-500    : #937c6c;
  --hc-primary-400    : #a67b6b;
  --hc-primary-300    : #6a4b45;

  --hc-secondary-500  : #4caf50;
  --hc-secondary-400  : #43a047;
  --hc-secondary-300  : #388e3c;

  --hc-foreground-500 : #2a2a2a;
  --hc-foreground-400 : #3c3c3c;
  --hc-foreground-200 : #727272;
  --hc-foreground-100 : #cfcfcf;
  --hc-foreground-50  : #f4f4f4;
  --hc-foreground-10  : #ffffff;

  --hc-text-primary   : var(--hc-primary-500);
  --hc-text-strong    : var(--hc-foreground-500);
  --hc-text-light     : var(--hc-foreground-10);

  --hc-background-linear: linear-gradient(to bottom, #DCCCB1, var(--hc-foreground-10));
}
